body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #010101;
  color: #fff;
}

.progress {
  position: fixed;
  top: 0;
  width: 0%;
  background-color: red;
  height: 1rem;
  opacity: 0.8;

  animation: progress-grow auto linear;

  animation-timeline: scroll(root);
}

@keyframes progress-grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;
}
